<article class="post">
    <div class="title">

        <a href="/view-post/{{id}}">{{title}}</a>

    </div>
    <div class="meta">
        <span>
            By {{user.username}} on
            {{format_date created_at}}
        </span>
        
        <span>
            |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            |
            {{vote_count}} {{format_plural "like" vote_count}}
        </span>
        
    </div>
</article>